<div class="errorcli">
    <div class="errorcli__content">
   {{> title class="errorcli__title_num" title="404"}}
    {{> title class="errorcli__title_message" title="Не туда попали"}}
    {{> button class="errorcli__btn" title="Назад к чатам"}}
    </div>
</div>