.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid blue;
  margin-bottom: 16px;
  outline: none;
}
.input__search {
  margin: 50px 10px 15px;
  background: #efefef;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 32px;
  text-indent: 10px;
}
.profile__content_input{
  outline: none;
  border: none;
  text-align: end;
}
