.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.profile__wrapper{
    width: 510px;
}
.profile__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__content_wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.profile__footer{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
}