:root{
    --btn-color-link: #3369f3;;
    --btn-background-link: white;
    --btn-color-toProfile: gray;
    --btn-background-toProfile: #efefef;
    --btn-background-exitProfile: #FBFBFB;
    --btn-color-exitProfile: lightblue;
    --btn-color-footerLink: red;
    --btn-color-input: #999999;
    --btn-border-input: blue;
    --box-shadow: rgba(0, 0, 0, 0.14);
}
