<div class="errorser">
    <div class="errorser__content">
   {{> title class="errorser__title_num" title="500"}}
    {{> title class="errorser__title_message" title="Мы уже фиксим"}}
    {{> button class="errorser__btn" title="Назад к чатам"}}
    </div>
 
</div>