<div class="chatlist">
    <div class="chatlist__leftCol">
        <div class="leftCol__head">
            {{>button class="button_goToProfile" title="Профиль >"}}
            {{>input class="input__search" type="text"}}
        </div>
        <div class="leftCol__content">
            Список чатов
        </div>
    </div>
    <div class="chatlist__rightCol">
        Лента переписки
    </div>
</div>
   