.chatlist{
    display: flex;
    /* flex-direction: column; */
}
.chatlist__leftCol{
    background: #FBFBFB;
    width: 310px;
    height: 720px;
    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.leftCol__head{
    display:flex;
    
    flex-direction: column;
}
.chatlist__rightCol{
    width:970px;
    /* flex: 2 1 auto */
}