.chatlist{
    display: flex;
}
.chatlist__leftCol{
    background: var(--btn-background-exitProfile);
    width: 310px;
    height: 720px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.leftCol__head{
    display:flex;
    
    flex-direction: column;
}
.chatlist__rightCol{
    width:970px;
}
