<div class="profile">
    {{> button class="profile__button_back" title="<" onClick="window.goToPage('chatlist')"}}
    <div class="profile__wrapper">
        <div class="profile__head">
        {{>img avatar=userAvatarUrl alt="Ellipse"}}
        </div>
        <form>
            <div class="profile__content">
                <div class="profile__content_wrapper">
                    {{>title title="Старый пароль"}}
                    {{> input class="profile__content_input" name="oldPassword" type="text" placeholder="********"}}
                </div>
                <div class="profile__content_wrapper">
                    {{>title title="Новый пароль"}}
                    {{> input class="profile__content_input" name="newPassword" type="text" placeholder="********"}}
                </div>
                <div class="profile__content_wrapper">
                    {{>title title="Повторите новый пароль"}}
                    {{> input class="profile__content_input" name="newPassword" type="text" placeholder="********"}}
                </div>
            </div>
            <div class="profile__footer">
                {{> button class="profile__footer_data" type="submit" title="Сохранить" onClick="window.goToPage('profile')"}}
            </div>
        </form>
    </div>    
</div>
   