.title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #1e1e1e;
}
.name {
  font-family: "Inter";
  font-size: 9px;
  line-height: 9px;

  color: #999999;
}
